:root {
    --main-color: #4870ab;
    --secondary-color: #404e63;
    --text-heading: #1e2930;
    --text-color: #4b4b4b;
    --white-color: #ffffff;
    --body-color: #f0f3f8;
    --anchor-black: #171717;
  
    --gradient-shade-1p: #4870ab;
    --gradient-shade-1s: #8c67c1;
  
    --h1-fontsize: 2em;
    --h2-fontsize: 1.8em;
    --h3-fontsize: 1.6em;
    --h4-fontsize: 1.4em;
    --h5-fontsize: 1.2em;
    --h6-fontsize: 1em;
    --paragraph: 12px;
  }
  * {
    margin: 0;
    padding: 0;
  }
  ul,
  li {
    list-style: none;
    padding: 0;
  }
  a,
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
  html,
  body {
    margin: 0px;
    background: var(--body-color);
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }
  
  /* Header */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #ffff;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
    box-shadow: 0 10px 15px #0000000d;
  }
  /* .headerLogoSection h1 {
    font-weight: 700;
    font-size: var(--h2-fontsize);
    color: var(--main-color);
    margin: 0;
  } */
  
  .headerLogoSection svg {
    width: 102px;
    height: 29px;
  }
  .headerLeftSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .headerNavWrap ul {
    display: flex;
    margin: 0;
    margin-left: 50px;
  }
  .headerNavWrap ul li span {
    display: flex;
    font-weight: 500;
    color: var(--anchor-black);
    text-transform: uppercase;
    padding: 0 10px;
  }
  .headerNavWrap ul li span:hover {
    color: var(--main-color);
  }
  .headerRightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dropdown-toggle::after {
    display: none;
  }
  header .btn-default {
    background: transparent !important;
    margin: 0 8px;
  }
  .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 194px;
    border: solid 1px #e0e0e0;
    border-radius: 6px;
    padding: 7px 13px;
  }
  .profileWrap {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 15px;
  }
  /* Header */